* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 1663px;
    height: 2767px;
}

/* Start NavBar */

nav {
    background-color: #e5f4fb;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding : 80px 0 40px 0;
}

nav div {
    display: flex;
    align-items: center;
}

/* End Nav Outline */

.nav-left {
    margin-left: 115px;
}

.nav-left .active, .nav-left .link {
    padding: 30px;
    color: #a5b4bb;
    border-radius: 50px;
    font-size: 18px;
}

.nav-left .active {
    text-decoration: underline 2px #82318d;
    transition: all 0.2s ease;
}

.nav-left .link {
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav-left .active:hover {
    color: black;
    background-color: #a5b4bb;
}

.nav-left .link:hover {
    color: black;
    background-color: #a5b4bb;
}

/* End Nav Left */

.nav-right {
    margin-right: 230px;
}

.nav-right button {
    background-color: #fff;
    color: #a5b4bb;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 50px;
    z-index: 5;
    font-size: 18px;
    transition: all 0.2s ease;
}

.nav-right button:hover {
    color: black;
    background-color: #a5b4bb;
    cursor: pointer;
}

/* End NavBar */

/* Start Section 1 */

.first {
    display: flex;
    justify-content: space-between;
    background-color: #e5f4fb;
    height: 550px;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 25%;
    padding-top: 150px;
    position: relative;
}

/* Start Section left */

.section-left {
    margin-left: 170px;
}

.section-left h1 {
    font-size: 60px;
    color: #a5b4bb;
}

.section-left span {
    font-size: 60px;
    color: #82318d;
}

.section-left p {
    font-size: 30px;
    color: #a5b4bb;
    margin-left: 10px;
}

/* End Section left */

/* Start Section Right */

.section-right {
    position: relative;
    top: -130px;
    left: -50px;
    z-index: 2;
}

.landing {
    margin-top: -100px;
}

.man {
    position: absolute;
    top: 50%;
    margin-top: -235px;
    left: 50%;
    margin-left: -140px;
    z-index: 3;
}

.clouds {
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -210px;
    z-index: 4;
    opacity: 90%;
}

.waves {
    position: absolute;
    top: 420px;
    left: -400px;
}

/* End Section 1 */

/* Start Section 2 */

.second {
    height: 900px;
    width: 1360px;
    margin-top: 100px;
    margin-left: 130px;
    text-align: center;
    position: relative;
}

.wire {
    position: absolute;
    top: 0;
    left: 300px;
}

.bic {
    position: absolute;
    top: 76px;
    left: 100px;
}

.bic h2, .time h2, .disc h2 {
    color: #a5b4bb;
    font-size: 25px;
    margin: 10px 0 10px;
}

.bic p, .time p, .disc p {
    color: #a5b4bb;
    font-size: 20px;
}

.time {
    position: absolute;
    width: 418px;
    top: 140px;
    left: 467px;
    z-index: 2;
}

.disc {
    position: absolute;
    width: 427px;
    top: 434px;
    left: 800px;
}

.why {
    position: relative;
    top: 180px;
    left: 30px;
}

.text {
    position: absolute;
    top: 120px;
    left: 100px;
}

.text p, .text h3 {
    color: white;
}

.text p {
    margin-left: -110px;
    margin-bottom: 10px;
}

.text h3 {
    font-size: 45px;
}

/* End Section 2 */

/* Start Section 3 */

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
}

.third i {
    color: #a5b4bb;
    font-size: 25px;
    margin-top: 150px;
}

.one {
    margin: 0 100px 70px 0;
    width: 250px;
    height: 250px;
}

.two {
    width: 500px;
    height: 570px;
    z-index: 2;
}

.two h2, .two p {
    text-align: center;
    color: #a5b4bb;
    font-size: 22px;
}

.two h2 {
    margin-bottom: 20px;
}
.three {
    margin: 0 0 10px 100px;
    width: 250px;
    height: 250px;
}

/* End Section 3 */

/* Start Footer */

footer {
    height: 687px;
    width: 1743px;
    background-image: url(../media/Group\ 1131.png);
    background-size: 107%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 150px;
    left: -80px;
    overflow: hidden;
}

/* Start Persons */

.persons img {
    width: 791px;
    height: 527px;
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 822px;
}

/* End Persons */

/* Start Download */

.side-links {
    position: absolute;
    z-index: 3;
    top: 480px;
    left: 250px;
}

.download {
margin-bottom: 25px;
}

.download button {
    width: 150px;
    height: 60px;
    background-color: #fff;
    color: #a5b4bb;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.2s ease;
}

.download button:hover {
    color: black;
    background-color: #a5b4bb;
    cursor: pointer;
}

.download button img {
    vertical-align: middle;
    padding: 5px;
}

/* End Download */

/* Start Links */

.links {
    margin-bottom: 25px;
}

.links i {
    color: #a5b4bb;
    font-size: 32px;
    padding: 5px 10px 5px 0;
    transition: all 0.2s ease;
}

.fa-instagram:hover {
    color: #bc2a8d;
}

.fa-whatsapp:hover {
    color: #4dc247;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

/* End Links */

/* Start bar */

.bar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 40px 20px 0;
    transition: all 0.2s ease;
}

.bar a:hover {
    color: black;
} 

/* End bar */
/* End Footer */